/* Body styles */
body{
    background-color: #efefef;
}
/* Fonts */
h1{
    font-size: 90px;
    font-family: elza, sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 1em;
}

h2{
    font-size: 48px;
    font-family: elza, sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 1.1em;
}

h3{
    font-family: 'Azeret Mono', monospace;
    font-size: 28px;
}

p,a{
    font-family: 'Azeret Mono', monospace;
    font-size: 16px;
    color: black;
}

/* Top Banner */
header{
    background-color: #02C5D0;
    padding: 0px 50px 60px 50px;
    border:  5px solid  #000;
    border-bottom: 20px solid #000;
}

#anchors a{
    padding: 10px 20px;
    border: 3px solid black;
    border-bottom: 5px solid black;
    border-radius: 25px;
    position: relative;
    top: 0;
    transition: top ease 0.1s;
}

#anchors a:hover{
    border-bottom: 3px solid black;
    transition: top ease 0.1s;
    top: 3px;
}

#tagsb{
    background-color: #FFBB40;
}

#attb{
    background-color: #FF90E8;
}

#tableb{
    background-color: #fff;
}

/* Tags Section */

#tags{
    padding: 0px 50px;
}

th,td{
    font-family: 'Azeret Mono', monospace;
    font-size: 16px;
    border: 3px solid black;
    padding: 10px;
    text-align: left;
}

#tags th{
    background-color: #FFBB40;
    border-bottom: 5px solid black;
}

#splitter{
    background-color: #FFBB40;
}

td:hover {
    background-color: #02C5D0;
}

table{
    width: 100%;
    border-collapse: collapse;
}

/* Dotted border */
hr.dotted {
    border-top: 5px dotted #000;
  }

/* Attributes section */
#attributes{
    padding: 0px 50px;
}

#attributes th{
    background-color: #FF90E8;
    border-bottom: 5px solid black;
}

/* Table code reference */

#tablecode{
    padding: 0px 50px;
}

#blkbx{
    margin: 50px;
    background-color: #000;
    padding: 30px;
}

#blkbx p{
    color: #02C5D0;
}

.codetxt{
    color: #fff;
}

.codespan{
    color: #FF90E8;
}

.spannumber{
    color: #FFBB40;
}

/* Footer */
footer{
    background-color: #02C5D0;
    border:  5px solid  #000;
    border-top: 20px solid #000;
    padding: 0px 50px;
}
/* Mobile Styles */
@media only screen and (max-width: 640px) {
    /* Top Banner */
    header h1{
        font-size: 64px;
        margin-bottom: 20px;
    }

    #anchors a{
        display: block;
        margin-bottom: 10px; 
    }
}